
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 5vh;
    background-color: black;
}

header h1{
    font-family: 'Slackey', cursive;
    color: gold;
    font-size: 15pt;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: gold;
}

.navform{
    width: 100%;
}

form{
    /*border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    font-size: 12pt;
}

input{
    border: 1px solid black;
    width: 25vw;
    height: 5vh;
    margin-bottom: 5vh;
}

#entrar{
    border: none;
    background-color: yellow;
    font-size: 12pt;
    width: 25vw;
    height: 5vh;
    margin-bottom: 5vh;
}

#entrar:hover{
    background-color: black;
    color: white;
}

#linkazul{
    font-size: 12pt;
}

@media screen and (max-width: 1024px){
    input{
        width: 75vw;
    }
    #entrar{
        width: 75vw;
    }
}